html, body {
  margin: 0;
  padding: 0;
}

header {
  position: fixed;
  width: 100%;
  padding: 10px 0px;
  background-color: #fff;
  text-align: center;
}

ul.nav li.dropdown:hover ul.dropdown-menu {
    display: block;
}

main {
  width: 100%;
  height: 100vh;
  background-image: url('../img/bg.jpg');
  background-position: center;
  background-size: cover;
}

.about {
  padding-top: 20px;
}

.mission {

}

.contact {

}

.editions {
  padding-top: 100px;
}

.editions img {
  width: 100px;
  height: 100px;
}
